%h1 Listing articles
%table
  %thead
    %tr
      %th Title
      %th
      %th Body
      %th
      %th Picture
      %th
      %th{:colspan => "3"}
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td
          = article.
        %td= article.body
        %td
          = article.
        %td= article.picture
        %td
          = article.
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Article', new_article_path
