= render 'shared/partner'

.footer
  .footer-top
    .wrap
      .section.group
        .col_1_of_3.span_1_of_3
          %h3 About Us
          %p The Bandung Coffee Festival promises to be an unmissable event for discerning coffee lovers and those working in the coffee scene. Buyers and sellers are more than welcome. From harvesting to brewing and artisan catering to equipment, this show will showcase every aspect of the coffee world and all the enjoyment that goes with it. The festival will feature over 25 coffee estates at Kabupaten Bandung District coffee, coffee shops, long business hours, coffee competition, coffee auctions, and gourmet food stalls, tastings and demonstrations from baristas, interactive workshops, and many more.
          = link_to "Learn more", about_path, class: 'button btn1 btn-8 btn-8b'
        .col_1_of_3.span_1_of_3
          = link_to "Tweets by @bdg_coffee", "https://twitter.com/bdg_coffee", class: "twitter-timeline", :"data-dnt" => true, :"data-widget-id" => "524416786469376001"
        .col_1_of_3.span_1_of_3
          %h3 Contact info
          .footer-list
            %ul
              %li
                %img{:alt => "", :src => "/assets/address.png"}/
                %p MG COFFEE ACADEMY, Setrasari Mall kav C2 no 31, Jl. Prof. Dr. Ir. Soetami, Bandung - West Java, Indonesia
                .clear
              %li
                %img{:alt => "", :src => "/assets/phone.png"}/
                %p Phone/WA : +6282226524674 | LINE : mgcoffeeacademy | BB : 7F76A3D2
                .clear
              %li
                %img{:alt => "", :src => "/assets/msg.png"}/
                %p
                  Email:
                  %span.yellow
                    %a{:href => "#"} info(at)BandungCoffeeFestival.com
                .clear
          .follow
            %h4 Follow Us
            %p The Bandung Coffee Festival celebrates West Java?s bustling and vibrant coffee scene. Its is a show dedicated to celebrating all that's new and exciting on the Coffee landscape.
            .search

        .clear
  .footer-bottom
    .wrap
      .copy
        %p.copy
          © 2014 Copyright by
          %a{:href => "#", :target => "_blank"} Bandung Coffee Festival
      .footer-nav
        %ul
          %li= link_to "Home", root_path
          %li= link_to "Events", "#"
          %li= link_to "About Us", about_path
          %li= link_to "Contact", contact_path
          %li= link_to "FAQ", faq_path
      .clear
