<div class="header">
  <div class="wrap">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: 'Bandung Coffee Festival' %>
      <% end %>
    </div>
    <div class="cssmenu">
      <ul>
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= portofolio_path %>">Gallery</a></li>
        <li><a href="<%= about_path %>">About Us</a></li>
        <li><a href="<%= contact_path %>">Contact</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>