<div class="banner">
  <div class="wrap">
    <h2>REGISTER BUYER</h2><div class="clear"></div>
  </div>
</div>
<div class="main">
  <div class="project-wrapper">
    <div class="wrap">
      <div class="contact">
        <div class="cont span_2_of_contact">
          <h5 class="leave">REGISTER BUYER</h5>
          <div class="clear"></div>
          <%= form_for(@user, as: :user, url: user_registration_path(@user)) do |f| %>
            <div class="contact-to clearfix">
              <%= f.text_field :name, class: "text", placeholder: "Name...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Name...';}", required: true %>
              <%= f.email_field :email, class: "text", placeholder: "Email...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Email...';}", required: true %>
              <div class="clear"></div>
              <%= f.phone_field :phone_number, class: "text", placeholder: "Phone Number...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Phone Number...';}", required: true %>
              <div class="clear"></div>
              <%= f.text_area :address, class: "text", placeholder: "Address...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Address...';}", required: true %>
              <div class="clear"></div>
              <%= f.date_field :birthdate, class: "text", placeholder: "Birthdate...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Birthdate...';}", required: true %>
              <div class="clear"></div>
              <%= f.password_field :password, class: "text", placeholder: "Password...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Password...';}", required: true %>
              <div class="clear"></div>
              <%= f.password_field :password_confirmation, class: "text", placeholder: "Retype Password...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Retype Password...';}", required: true %>
            </div>
            <div>
              <a href="#" class="submit">REGISTER</a>
              <%#= f.submit :submit, class: "submit", value: "REGISTER", style: "cursor: pointer" %>
            </div>
          <% end %>
        </div>
        <div class="lsidebar span_1_of_about">
           <h5 class="leave">Contact Info</h5><div class="clear"></div>
           <div class="contact-list">
            <ul>
              <li>
                <img src="/assets/address.png" alt=""><p>Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh</p>
                <div class="clear"></div>
              </li>
              <li><img src="/assets/phone.png" alt=""><p>Phone: +1 800 258 2689<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+1 800 258 2689 </p><div class="clear"></div></li>
              <li><img src="/assets/msg.png" alt=""><p>Email: <span class="yellow1"><a href="#">info(at)BandungCoffeeFestival.com</a></span></p><div class="clear"></div></li>
             </ul>
          </div>
          </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>