.index-banner
  .wmuSlider.example1
    .wmuSliderWrapper
      %article{:style => "position: absolute; width: 100%; opacity: 0;"}
        .banner-wrap
          .slider-left
            %h3 BANDUNG
            %h4 COFFEE FESTIVAL
            %p.top The Bandung Coffee Festival celebrates West Java’s bustling and vibrant coffee scene.
            %p.middle Mark your date : 5-6 November 2104, Gedung Moh. Toha, Kompleks Pemda Kabupaten Bandung, Soreang, West Java
            %p.bottom all that's new and exciting on the Coffee landscape
            = link_to "Register Buyer", new_buyer_path, class: "btn btn-8 btn-8b"
            = link_to "Register Barista Competition", new_baristum_path, class: "btn btn-8 btn-8b"
          .slider-right
            %img{:src => "/assets/banner-left.png"}/
          .clear
      - (1..4).each do |article|
        %article{:style => "position: relative; width: 100%; opacity: 1;"}
          .banner-wrap
            .slider-right
              %img{:src => "/assets/banner-left.png"}/
            .slider-left
              %h3 BANDUNG
              %h4 COFFEE FESTIVAL
              %p.top The Bandung Coffee Festival celebrates West Java’s bustling and vibrant coffee scene.
              %p.middle Mark your date : 5-6 November 2104, Gedung Moh. Toha, Kompleks Pemda Kabupaten Bandung, Soreang, West Java
              %p.bottom all that's new and exciting on the Coffee landscape
              = link_to "Register Buyer", new_buyer_path, class: "btn btn-8 btn-8b"
              = link_to "Register Barista Competition", new_baristum_path, class: "btn btn-8 btn-8b"
            .clear
      %a.wmuSliderPrev Previous
      %a.wmuSliderNext Next
      %ul.wmuSliderPagination
        %li
          %a{:href => "#"} 0
        %li
          %a{:href => "#"} 1
        %li
          %a.wmuActive{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} 4
%br
%br
.main
  .content-top
    .wrap
      %h3 Welcome to the first ever Bandung Coffee Festival
      %h5 The Bandung Coffee Festival promises to be an unmissable event for discerning coffee lovers and those working in the coffee scene. Buyers and sellers are more than welcome.
      .section.group
        .col_1_of_4.span_1_of_4
          .grid1
            = link_to about_path do
              %img{alt: "", src: "assets/icon1.png"}
              %h4 About BCF 2014
          .desc
            %p The First Ever Coffee Festival in Bandung. Lets join!
        .col_1_of_4.span_1_of_4
          .grid1
            = link_to event_path  do
              %img{alt: "", src: "assets/icon2.png"}
              %h4 Event
          .desc
            %p Show photo of yours & Share the moments of happiness
        .col_1_of_4.span_1_of_4
          .grid1
            = link_to new_buyer_path do
              %img{alt: "", src: "assets/icon3.png"}
              %h4 Register Buyer
          .desc
            %p Register here for All Buyers for Free!
        .col_1_of_4.span_1_of_4
          .grid1
            = link_to new_baristum_path do
              %img{alt: "", src: "assets/icon4.png"}
              %h4 Register Barista
          .desc
            %p Register to Barista Competition here
        .clear