.banner
  .wrap
    %h2 REGISTER BUYER
    .clear
.main
  .project-wrapper
    .wrap
      %h5.leave Register as Buyer
      %br
      .contact
        .cont.span_2_of_contact
          = form_for(@buyer) do |f|
            .contact-to.clearfix
              = f.text_field :name, class: "text", placeholder: "Name...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Name...';}", required: true
              .clear
              = f.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]], {prompt: "-- Choose Gender --"})
              .clear
              = f.text_field :company, class: "text", placeholder: "Company...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Company...';}", required: true
              .clear
              = f.text_field :job_title, class: "text", placeholder: "Job Title...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Job Title...';}", required: true
              .clear
              = f.text_area :company_address, class: "text", placeholder: "Address...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Address...';}", required: true
              .clear
              = f.text_field :city, class: "text", placeholder: "City...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'City...';}", required: true
              .clear
              = f.text_field :postal_code, class: "text", placeholder: "Postal code...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Postal Code...';}", required: true
              .clear
              = f.text_field :country, class: "text", placeholder: "Country...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Country...';}", required: true
              .clear
              = f.text_field :telp, class: "text", placeholder: "Phone...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Phone...';}", required: true
              .clear
              = f.phone_field :fax, class: "text", placeholder: "Fax...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Fax...';}", required: true
              .clear
              = f.phone_field :mobile, class: "text", placeholder: "Mobile...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Mobile...';}", required: true
              .clear
              = f.email_field :email, class: "text", placeholder: "Email...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Email...';}", required: true
              .clear
              = f.phone_field :website, class: "text", placeholder: "Website...", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Website...';}", required: true
              .clear
            = f.submit :register, value: "Register", class: 'submit'
        .lsidebar.span_1_of_about
          %h5.leave Contact Info
          .clear
          .contact-list
            %ul
              %li
                %img{:alt => "", :src => "/assets/address.png"}/
                %p
                  MG COFFEE ACADEMY, Setrasari Mall kav C2 no 31, Jl. Prof. Dr. Ir. Soetami, Bandung - West Java, Indonesia
                .clear
              %li
                %img{:alt => "", :src => "/assets/msg.png"}/
                %p
                  Email:
                  %span.yellow1
                    %a{:href => "#"} info(at)BandungCoffeeFestival.com
                .clear
        .clear