%p Buyer Registration,
%p
%p Name: #{@name}
%p Gender: #{@gender}
%p Company: #{@company}
%p Job title: #{@job_title}
%p Company address: #{@company_address}
%p City: #{@city}
%p Postal code: #{@postal_code}
%p Country: #{@country}
%p Phone number: #{@telp}
%p Fax: #{@fax}
%p Mobile: #{@mobile}
%p Email: #{@email}
%p Website: #{@website}